<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #1685dd;"
>
  <div class="container">
    <a class="navbar-brand" href="/home">HoangHaMobile</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <img
          class="img-avt"
          src="https://cdn.fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
          alt=""
        />
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Khánh Võ
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/course/create">Đăng khoá học</a>
            <a class="dropdown-item" href="/me/stored/course">Sửa khoá học</a>
            <a class="dropdown-item" href="#">Bán khoá học</a>
          </div>
        </div>

      </ul>

    </div>
  </div>
</nav>